@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


h1 {
	font-family: 'Ubuntu Condensed', sans-serif;
	margin-bottom: 20px;
}
body {
	font-family: 'Open Sans', sans-serif;
}
.invitations-form .form-control {
	border-radius: 2px;
	font-size: 1.3rem;
}
.invitations-form .input-group-addon {
	border-radius: 2px;
	width: auto;
	line-height: 20px;
}
.invitations-form__section {
	border: 3px solid #ccc;
	padding: 15px;
	margin-bottom: 20px;
}
.invitations-form__section.inactive {
	opacity: 0.3;
}
.invitations-form__section img {
	width: 100%;
}
.invitations-form__section .container {
	max-width: 100%;
}
.invitations-form__section textarea {
	resize: vertical;
	min-height: 150px;
}
.invitations-form__images>div {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
}
.image-span {
	position: relative;
	display: block;
}
.image-span .image-del {
	width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0px;
    line-height: 25px;
    text-align: center;
    background-color: #333;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    color: #fff;
    transition: 0.3s;
}
.image-span .image-del:hover {
	opacity: 0.8;
	cursor: pointer;
}
.preview {
	margin-top: 20px;
}

.custom-grid {
	font-family: 'Open Sans', sans-serif;
	overflow-x:auto;
}

.custom-grid .form-control {
	border-radius: 2px;
}

.custom-grid  .table > tbody > tr.paid {
	background-color: #1BA345;
}
.custom-grid  .table > tbody > tr.unpaid {
	background-color: #DE3E44;
}

.custom-grid  .table > thead > tr > td {
	padding: 12px 8px;
}

.custom-grid .table-bordered > thead > tr > th, .custom-grid .table-bordered > thead > tr > td {
	border-bottom: 1px;
}

.custom-grid .table > thead > tr > th {
	vertical-align: middle;
}

.create-invitation-btn {
	border-radius: 2px;
	padding: 5px 10px;
    font-size: 13px;
}

.save-invitation-btn {
	border-radius: 2px;
	padding: 6px 30px;
    font-size: 16px;
}

.breadcrumb {
	padding: 6px 12px;
    border-radius: 2px;
    font-size: 12px;
}

.address__map-container {
	max-width: 600px;
}


/* sdfsdafasdf */
.switch {
	position: relative;
	display: inline-block;
	width: 32px;
	height: 20px;
	margin-bottom: 15px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 3px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch.active .slider {
  background-color: #49a543;
}

.switch.active .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
	.custom-grid>table>thead>tr>th {
		min-width: 50px;
	}
	.language {
		float: none!important;
		margin-left: 0;
	}
	.language .btn {
		padding: 6px 0 !important;
	}
	.language .dropdown-menu {
		left: 0;
		border-radius: 2px;
	}
	.breadcrumb {
		background-color: unset;
		line-height: 1.8;
	}
	.breadcrumb a {
		margin: 0 5px;
	}
	.breadcrumb li:before {
		padding: 0;
	}
	h2 {
		font-size: 21px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.form-group {
		margin-bottom: 10px;
	}
	.upload-container {
		padding: 30px;
		text-align: center;
		height: unset;
	}
	.input-group-addon {
		padding: 6px 6px;
	}
	.form-control {
		padding: 6px 6px;
	}
}