@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

html,
body {
    height: 100%;
}



.container {
    max-width: 1170px;
}

body {
    font-family: "Montserrat", sans-serif;
}

body ol, ul {
    padding-left: 0;
}
body li {
    list-style: none;
}
body a {
    color: unset;
    text-decoration: unset;
    -webkit-transform: 0.2s all;
    -moz-transform: 0.2s all;
    -ms-transform: 0.2s all;
    -o-transform: 0.2s all;
    transform: 0.2s all;
}
body a:hover {
    color: unset;
    opacity: 0.8;
}



/* .header */

.header {
    padding-top: 0;
    margin: 15px 0;
}

.header:before {
    content: '';
    display:  block;
    position: absolute;
    top: 0;
    width: 500px;
    height: 200px;
    max-width: 100vw;
    background: url('../images/top-bg.png');
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}

.header nav ul {
    display: flex;
    margin-bottom: 5px;
}

.header a {
    color: #e91643;
}
.header nav ul>li {
    font-family: "Merriweather", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    background: transparent;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: #030303;
    padding: 20px 15px;
}

.header .top-phone {
    font-family: "Merriweather", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    padding: 20px 15px;
    color: #333;
}

.header .lang-switcher {
    font-family: "Merriweather", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    padding: 20px 20px;
    color: #333;
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 999;
    display: none;
}

@media (max-width: 1023px) {
    .header-area .menu-trigger {
        display: block !important;
    }
    .header-area .main-nav .nav {
        float: none;
        width: 50%;
        display: none;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
        margin-left: 0;
        position: absolute;
        top: 75px;
        z-index: 999;
        -webkit-box-shadow: 1px 1px 52px 2px rgba(19, 136, 226, 0.2);
        -moz-box-shadow: 1px 1px 52px 2px rgba(19, 136, 226, 0.2);
        box-shadow: 1px 1px 52px 2px rgba(19, 136, 226, 0.2);
    }
    .header-area .main-nav .nav li:first-child {
        border-top: 1px solid #eee;
    }
    .header-area.header-sticky .nav {
        margin-top: 100px !important;
    }
    .header-area .main-nav .nav li {
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #eee;
        padding: 0;
        border-radius: 0;
    }
    .header-area .main-nav .nav li a {
        display: block;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        line-height: 40px;
        border: transparent;
        letter-spacing: 1px;
        padding: 12px 25px !important;
        border: none !important;
        background: #f7f7f7 !important;
        color: #191a20 !important;
    }
    .header-area .main-nav .nav li a:hover {
        background: #eee !important;
        color: #f5a425!important;
    }
    .header-area .main-nav .nav li.has-sub ul.sub-menu {
        position: relative;
        visibility: inherit;
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        top: 0px;
        width: 100%;
        box-shadow: none;
        height: 0px;
        transition: all 0s;
    }
    .header-area .main-nav .nav li.submenu ul li a {
        font-size: 12px;
        font-weight: 400;
    }
    .header-area .main-nav .nav li.submenu ul li a:hover:before {
        width: 0px;
    }
    .header-area .main-nav .nav li.has-sub ul.sub-menu {
        height: auto;
    }
    .header-area .main-nav .nav li.has-sub:after {
        color: #3B566E;
        right: 30px;
        font-size: 14px;
        top: 15px;
    }
    .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
        height: 0px;
    }
}

.background-header .main-nav .menu-trigger {
    top: 23px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    content: "";
}

.header-area .main-nav .menu-trigger span {
    top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
    background-color: #1e1e1e;
}

.footer {
    height: 141px;
    background: url(../images/bg-header-rose-footer.png) bottom repeat-x;
}

.footer-title {
    text-align: center;
    padding-top: 76px;
    font-size: 18px;
    font-family: 'Merriweather', sans-serif;
    color: #545454;
    margin-bottom: 0;
}

.agreement {
    margin-top: 35px;
}

.agreement h2 {
    font-family: "Merriweather", sans-serif;
    font-size: 32px;
    margin-bottom: 30px;
    color: #545454;
}

.agreement h5 {
    font-family: "Merriweather", sans-serif;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #545454;
}

.agreement p {
    font-size: 14px;
    color: #333;
}

.agreement p a {
    border-bottom: 1px solid #777;
}

.has-error .form-control {
  border-color: rgba(240,0,0,0.4);
}
.has-error .form-control:focus {
  border-color: rgba(240,0,0,0.4);
}
.has-error .input-group-addon {
  border-color: rgba(240,0,0,0.4);
  color: rgba(240,0,0,0.4);
}
.has-error .input-group-addon:focus {
  border-color: rgba(240,0,0,0.4);
  color: rgba(240,0,0,0.4);
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label{
  color: rgba(240,0,0,0.6);
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
  border-color: #204d74;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.language {
    margin-left: 15px;
}

.language>a {
    color: #fff!important;
    padding: 13px!important;
}

.iframe-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.iframe-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-container {
  width: 100%;
  padding-top: 100%;
  background-color: #ccc;
  position: relative;
}

.image-container div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #ccc;
    display: flex;
    align-items: center;
}

.image-container img {
  width: 100%;
  height: auto;
  min-height: 100%;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
  height: 100px;
  outline: 2px dashed #5d5d5d;
  outline-offset: -12px;
  background-color: #e0f2f7;
  font-family: 'Segoe UI';
  color: #1f3c44;
  margin: 20px 0;
}

.upload-container>img {
  width: 6%!important;
    margin-bottom: 4px;
    user-select: none;
}

.upload-container label {
  font-weight: bold;
}

.upload-container label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.upload-container div {
  position: relative;
  z-index: 10;
}

.upload-container input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

.upload-container label.focus {
  outline: 1px solid #0078d7;
  outline: -webkit-focus-ring-color auto 5px;
}

.upload-container.dragover {
  background-color: #fafafa;
  outline-offset: -17px;
}
.upload-container .form-group {
  margin-bottom: 0;
}


section {
    padding: 0 0 30px 0;
}

.wrap {
    min-height: calc(100% - 141px);
    height: auto;
    margin: 0 auto;
    padding: 0 0;
}

.breadcrumb {
    margin-bottom: 20px!important;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.content-list__item {
  margin-bottom: 20px;
}

.content-list__item {
  display: flex;
  flex-direction: column;
}

.content-list__item .post-info__meta-item {
  font-size: 11px;
  color: #82a3b1;
}

.content-list__item .post-info__title {
  font-size: 14px;
  line-height: 1.1;
}


form input[type=text].error, 
form input[type=password].error, 
form input[type=email].error, 
form select.error, 
form textarea.error {border: 1px solid rgba(204,0,0,0.3) !important;}

.err_msg {
  display: block;
  text-align: left;
  font-size: 11px;
  font-weight: 300;
  color: #C9688C;
  bottom: -20px;
  z-index: 99;
}

.login-section {
  padding-top: 50px;
}

.site-login h1 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  display: block;
  max-width: 400px;
  margin: 0px auto;
  margin-bottom: 20px;
}

.shadow-box {
  width: 100%;
  max-width: 400px;
  background: #f9f9f9;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 0 auto;
  padding: 50px 40px 40px 40px;
  box-sizing: border-box;
}

.shadow-box_additionals {
  margin-top: 15px;
  padding: 15px 40px;
}

.login-form input {
  border-radius: 2px;
}

.login-form label {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-bottom: 2px;
  font-size: 15px;
}

.login-form .help-block {
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 12px;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-button {
  width: 100%;
  background: #165FAA;
  border: 1px solid #165FAA;
  color: #fff;
  line-height: 1em;
  padding: 10px 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  margin-top: 15px;
  border-radius: 2px;
}

.login-button:hover {
  opacity: 0.8;
  outline: none;
}
.login-forgot {
  display: inline-block;
  color:#999;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
}

.signup-info {
  display: inline-block;
    color: #666;
    margin-top: 10px;
    font-size: 13px;
}

.site-request-password-reset .login-button {
  margin-top: 0;
}

.content_box {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgb(222 223 224 / 35%);
  margin-top: 20px;
  padding: 18px;
}

section h2 {
    font-family: "Merriweather", sans-serif;
    font-size: 72px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
    .agreement {
        margin-top: 15px;
    }
  .shadow-box {
    padding: 30px 15px;
  }
  .login-form .form-group {
    margin-bottom: 10px;
  }
  .shadow-box_additionals {
    padding: 15px;
  }
    section h2 {
        margin-bottom: 15px;
    }
}





/* 404 error page */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 100vh;
    background-color: #fff;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.notfound .notfound-404 {
    height: 210px;
    line-height: 153px;
}

.notfound .notfound-404 h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #00718a;
    font-size: 220px;
    letter-spacing: 10px;
    margin: 0px;
    font-weight: 700;
    text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #777;
}

.notfound .notfound-404 h1>span {
    text-shadow: 2px 2px 0px #ffab00, -2px -2px 0px #ffab00, 0px 0px 8px #ff8700;
}

.notfound p {
    font-family: 'Josefin Sans', sans-serif;
    color: #777;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 15px;
}

.notfound a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    color: #f14baa;
    border: 2px solid #f14baa;
    display: inline-block;
    padding: 10px 25px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    color: #ffab00;
    border-color: #ffab00;
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 122px;
        line-height: 122px;
    }

    .notfound .notfound-404 h1 {
        font-size: 122px;
    }
}

.preview-edit-toolbar {
    position: fixed;
    background: rgba(0,0,0,.3);
    backdrop-filter: blur(10px);
    padding: 30px 0;
    width: 100vw;
    bottom: 0;
    z-index: 999;
    color: #fff;
    box-shadow: 0px -5px 97px 6px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px -5px 97px 6px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px -5px 97px 6px rgba(0,0,0,0.36);
}

.toolbar-links {
    display: flex;
    align-items: center;
}

.toolbar-links a {
    text-transform: uppercase;
    margin: 0 15px;
    transition: all .2s;
}

.toolbar-links a:hover {
    text-decoration: none;
    color: #FF5C7F;
}

.login-forgot a {
    color: #555;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-left: 15px;
}

.site-login .modal-footer {
    justify-content: flex-start;
}

@media screen and (min-width: 768px) {
    #modal-login .modal-content, #modal-recover .modal-content {
        top: -50px;
    }

    .modal-form-box {
        padding: 15px 30px 0;
    }
}

.nav-tabs .service-tag button.nav-link {
    margin: 5px;
    padding: 8px 13px;
    border-radius: 24px;
    display: inline-block;
    border: none;
    color: #F7B34F;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.nav-tabs .service-tag button.nav-link:hover,
.nav-tabs .service-tag button.nav-link:active,
.nav-tabs .service-tag button.nav-link:focus  {
    border: none;
}

.nav-tabs .service-tag .nav-link.active {
    color: #fff;
    background-color: #FF5C7F;
    /*background-color: #00a8ec;*/
}

.product-grid-style>[class*="col-"] {
    margin-top: 30px
}

.product-grid-style .product-img {
    display: block;
    position: relative;
}

.product-grid-style .product-details {
    transition: all .3s ease 0s;
    position: relative;
    margin: 0 5px;
}

.product-details .product-cart {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999
}

.product-details .product-cart>a {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #292dc2;
    margin-top: 0;
    margin-right: 10px;
    border-radius: 50%;
    visibility: hidden;
    transition: all 0.5s;
    opacity: 0;
    cursor: pointer;
    background-color: #fff
}

.product-details .product-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #292dc2;
    visibility: hidden;
    transition: all 0.5s;
    opacity: 0;
    padding: 15px;
    background-color: #efefef;
}

.product-details .product-cart a:last-child {
    margin-right: 0
}

.product-details .product-cart>a:hover {
    background: #292dc2;
    color: #fff
}

.product-details:hover .product-cart a {
    transform: translateY(-30px);
    visibility: visible;
    opacity: 1
}

.product-details:hover .product-info {
    /*transform: translateY(-15px);*/
    visibility: visible;
    opacity: 1;
}

.product-info:hover {
    /*transform: translateY(-15px);*/
    visibility: visible;
    opacity: 1;
}

.product-details:hover {
    background-color: rgba(0,0,0, .3);
}

.product-grid-style .product-info>span {
    font-family: "Merriweather", sans-serif;
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    margin-right: 20px;
    color: #F7B34F;
}

.product-grid-style .price {
    font-weight: 600
}

.product-grid-style .price .red {
    color: #878787
}

.product-list {
    margin-top: -20px
}

.product-list>[class*="col-"] {
    margin-top: 30px
}

.product-card {
    border: 1px solid rgba(0, 0, 0, 0.075);
    height: 100%
}

.product-card .card-img {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.product-card .card-body {
    padding: 2rem
}

.product-card .card-body .read-more {
    display: block
}

.product-card .card-body .read-more a {
    color: #292dc2;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px
}

.product-card .card-body .read-more a:hover {
    color: #282b2d
}

.product-card .card-footer:last-child {
    border-radius: 0
}

.product-card h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px
}

.product-card h3 a {
    color: #282b2d
}

.product-card h3 a:hover {
    color: #292dc2
}

.product-card .card-footer {
    background: none;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0.8rem 2rem;
    font-weight: 600
}

.product-card .card-footer a {
    line-height: normal
}

.product-card ul {
    margin-bottom: 0;
    padding-bottom: 0
}

.product-card .card-footer img {
    max-width: 35px
}

.product-card .card-footer ul li {
    display: inline-block;
    color: #999;
    font-size: 14px;
    font-weight: 500;
    margin: 0 10px 0 0
}

.product-card .card-footer ul li i {
    color: #292dc2;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px
}

@media screen and (max-width: 767px) {
    .product-card .card-img.bg-img {
        min-height: 250px
    }

    .product-details .product-info {
        visibility: visible;
        opacity: 1;
        background-color: rgba(255,255,255,.6);
    }
}

@media screen and (max-width: 575px) {
    .product-card .card-body {
        padding: 1.5rem
    }
    .header-area .main-nav .nav {
        width: 93vw;
    }
}

.product-grid-style .price .red {
    color: #878787;
}
.line-through {
    text-decoration: line-through;
}


.label-offer {
    position: absolute;
    left: 0;
    top: 0;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    padding: 0 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    z-index: 1
}

.bg-red {
    background-color: #ff6c6c;
}

.bg-primary-solid, .primary-overlay-solid[data-overlay-dark]:before {
    background: #292dc2;
}

.img-box {
    width: 100%;
    padding-top: 60%;
    background-color: #ccc;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-box div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #ccc;
}

.img-box img {
    width: 100%;
    height: auto;
    min-height: 100%;
}

.product-img .img-box {
    padding-top: 60%;
}

.product-details .img-container:before {
    content: "";
    position: absolute;
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    border: 1px solid #d9c909;
    top: -7px;
    left: -7px;
    box-shadow: 0 0 10px rgb(206 167 92 / 40%), inset 0 0 10px rgb(206 167 92 / 40%);
}

#templates-tab {
    padding-bottom: 10px;
}

.invitations-index {
    font-size: 14px;
    margin-top: 25px;
}

.invitations-index h1 {
    margin-bottom: 35px;
}

.invitations-index .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.invitation-link {
    text-decoration:underline;
    text-decoration-style: dotted;
}

.copy-button {
    border-radius: 15px;
    background-color: #f1a417;
    color: #fff;
    border: none;
    font-size: 12px;
    padding: 2px 8px;
}

.wishes-link {
    border-radius: 15px;
    background-color: #19a13a;
    color: #fff;
    border: none;
    font-size: 12px;
    padding: 3px 8px;
}

.wishes-link:hover {
    color: #fff;
}

.cstm_notice {
    font-family: "Merriweather", sans-serif;
    font-size: 15px;
    padding-right: 40px!important;
    min-width: unset!important;
    max-width: unset!important;
}

.cstm_notice span {
    position: absolute;
    right: 18px;
}

.cstm_notice span:hover {
    cursor: pointer;
}

body .alert-success {
    color: #fff;
    background-color: #1eaf56;
    border-color: #badbcc;
}

.header-menu .nav > li > a:hover, .header-menu .nav > li > a:focus {
    background-color: unset ;
}

.audio {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 120px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: #e8f4e3;
    border-radius: 35px;
    box-shadow: 0 2px 9px rgba(0,0,0,.2);
    z-index: 99;
}

.play-button img {
    max-height: 62px;
    position: relative;
    right: 0.6px;
    top: 0.6px;
}

.play-button span {
    color: #fff;
    margin-left: 2px;
}

.stop-button {
    display: none;
}

.stop-button img {
    max-height: 28px;
}

#app-audio-dropdown-player {
    margin-bottom: 15px;
}

.ck-editor__editable {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    min-height: 200px;
}

.agreement p.llp_address {
    font-size: 21px;
    font-family: 'Roboto', serif;
    font-style: italic;
    font-weight: 300;
}

.mastercard-logo img {
    width: 120px;
}