
@font-face {
	font-family: Assylbek Shelley;
	src: url(/fonts/vAsylm02.ttf);
}
@font-face {
	font-family: Decor KZ;
	src: url(/fonts/KZDecor.ttf);
}
@font-face {
	font-family: Open Sans Condensed;
	src: url(/fonts/OpenSansCondensed/OpenSansCondensed-Light.ttf);
	font-style: normal; 
	font-weight: normal; 
}
@font-face {
	font-family: Open Sans Condensed; 
	src: url(/fonts/OpenSansCondensed/OpenSansCondensed-LightItalic.ttf); 
	font-style: italic; 
	font-weight: normal; 
}
@font-face {
	font-family: Open Sans Condensed;
	src: url(/fonts/OpenSansCondensed/OpenSansCondensed-Bold.ttf); 
	font-style: normal; 
	font-weight: bold; 
}
@font-face {
	font-family: Open Sans;
	src: url(/fonts/OpenSans/OpenSans-Regular.ttf);
	font-style: normal; 
	font-weight: normal; 
}
@font-face {
	font-family: Open Sans; 
	src: url(/fonts/OpenSans/OpenSans-Light.ttf); 
	font-style: normal; 
	font-weight: 300; 
}
@font-face {
	font-family: Open Sans;
	src: url(/fonts/OpenSans/OpenSans-SemiBold.ttf); 
	font-style: normal; 
	font-weight: 500; 
}
@font-face {
	font-family: Open Sans;
	src: url(/fonts/OpenSans/OpenSans-Bold.ttf); 
	font-style: normal; 
	font-weight: 600; 
}

@media (min-width: 1200px) {
	.container {
	    width: 1070px;
	}
}


/* Common styles */


a:hover {
	opacity: 0.8;
	cursor: pointer;
}

ul, ol {
	list-style: none;
	padding: 0;
}

section {
	padding: 70px 0;
}
section:nth-child(odd) {
	background-color: #f5f5f5;
}

body {
	overflow-x: hidden;
}

.iframe-container {
	overflow: hidden;
	position: relative;
	width:100%;
}

.iframe-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-title {	
	text-align: center;
	font-size: 72px;
	color: #a45200;
	font-family: 'Assylbek Shelley', sans-serif;
}



/* Header styles*/

#header {
	background-color: #ffd8b1;
	height: 100vh;
}

#header .top-box {
	//background-image: url('../images/template1/header-ukrashen.png');
	//background-position: 50% 40%;
	//background-repeat: no-repeat;
	//background-size: 95% 85%;
	height: 100vh;
	vertical-align: middle;
	text-align: center;
	position: relative;
	top: -20px;
}

#header .top-box::before {
	content: '';
	display: block;
	background-image: url('../images/template1/header-ukrashen.png');
	background-position: 50% 40%;
	background-repeat: no-repeat;
	background-size: 95% 85%;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0;
}

#header .top-box__title {
	position: relative;
	top: calc(50% - 70px);
	font-size: 60px;
	color: #ff842d;
	font-family: 'Decor KZ', sans-serif;
}

#header .top-box__row {
	position: absolute;
	bottom: 26%;
    left: 0;
    width: 100%;
    font-size: 28px;
	font-family: 'Decor KZ', sans-serif;
}

#header .top-box__date {
	position: relative;
	top: -10px;
	right: -90px;
	color: #0866b7;
	font-family: 'Decor KZ', sans-serif;
}

#header .top-box__time {
	color: #0866b7;
	font-family: 'Open Sans', sans-serif;
}

.top-box__arrow {
    color: #00a8ec;
    opacity: .3;
    animation: updown-anim-fade 1.75s linear -.1s infinite alternate;
    filter: grayscale(1);
    position: absolute;
    bottom: 20px;
    left: calc(50% - 10px);
    /* font-size: 2em; */
    /* line-height: 3.5em; */
    /* font-weight: 900; */
    /* color: #fff; */
    /* transform: rotate(
90deg
) translateX(0px); */
    /* text-align: end; */
    /* padding-right: 3em; */
    /* animation: arrow-anim-fade 1.75s linear -.1s infinite alternate; */
}

.top-box__arrow-img {
    width: 20px;
}

/* Countdown styles */

.countdown-title {
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}
 
.countdown {
	position: relative;
	left: -60px;
	display: inline-block;
	text-align: center;
	font-size: 30px;
}
 
.countdown-number {
	display: inline-block;
	position: relative;
}

.countdown-number:after {
	content: '';
	display: block;
	width: 1px;
	height: 40px;
	background-color: rgba(0,0,0,0.05);
	position: absolute;
	top: 14px;
    right: -4px;
}
.countdown-number:last-child:after {
	display: none;
}
 
.countdown-time {
	padding: 0 12px;
	font-size: 24px;
	display: inline-block;
}
 
.countdown-text {
	display: block;
	font-size: 11px;
	color: #666;
	font-weight: 500;
}

.deadline-message{
	display: none;
	font-size: 24px;
	font-style: italic;
}
 
.visible{
	display: block;
}
 
.hidden{
	display: none;
}




/* Speech section */

.speech__text {
	color: #eea256;
	font-size: 32px;
	text-align: center;
	padding: 0 35px;
	font-family: 'Assylbek Shelley', sans-serif;
	min-height: 80vh;
}

.speech__text p {
	margin-bottom: 5px;
}

.speech .container {
	position: relative;
}
.speech .container:before {
    background: url(../images/template1/top-flower.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -133px;
    right: -55px;
    content: '';
    width: 235px;
    height: 400px;
}
.speech .container:after {
	content: '';
	background-image: url('../images/template1/couple.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
	width: 48%;
	position: absolute;
	top: 7%;
	right: 0;
	opacity: 0.1;
}

.speech__owners {
	color: #eea256;
	font-size: 36px;
	text-align: left;
	width: 100%;
	font-family: 'Assylbek Shelley', sans-serif;
	position: absolute;
	bottom: 20px;
	left: 100%;

}


/* Love story section */

.love-story__title {
	margin-bottom: 30px;
}

.love-story__video-container::after {
    padding-top: 56.25%;
}



/* Address section */

.address__title {
	margin-top: 50px;
}

.address__place {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
}
.address__place>span {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: normal;
	font-size: 28px;
}

.address__map-container {
	padding-top: 70%;
	height: 0;
}

.address__images {
	margin-top: 30px;
	display:flex;
	flex-wrap:wrap; 
	justify-content:space-between;
}

.address__images a {
	padding-left: 0;
	padding-right: 0;
	transition: all 0.2s;
}



/* Afterwards section */




/* Gallery section */

.gallery-vertical {
	padding-top: 150%;
	box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.5);
}

.gallery-horizontal {
	padding-top: 66.6%;
	box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.5);
}

.my-container {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.my-container>.row {
	margin-left: 0;
	margin-right: 0;
}

.my-container>.row>div>div {
	padding: 0;
}

.our-gallery .image-container div:before {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	box-shadow: inset 0px 0px 20px rgb(0 0 0 / 50%);
}

.our-gallery .image-container div {
	transition: all 0.3s;
}

.our-gallery .image-container div:hover {
	opacity: 0.8;
}



/* Wishes section */

.wishes {
	padding-bottom: 100px;
}

.wishes__title {
	margin-bottom: 50px;
}

.content-list__item {
  margin-bottom: 20px;
}

.content-list__item {
  display: flex;
  flex-direction: column;
}

.content-list__item .post-info__meta-item {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #82a3b1;
}

.content-list__item .post-info__title {
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

.content-list__item .post-info__text {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #666;
  line-height: 1.4;
}

.notif__items {
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  overflow: auto;
  z-index: 3;
}

.notif__items::-webkit-scrollbar {
  width: 5px;
  background-color: #eee;
}

.notif__items::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.notif__items::-webkit-scrollbar-track {
  height: 50%;
}

.notif__items::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

.wishes__messages {
	padding: 50px 30px 100px 40px;
	width: 100%;
	padding-top: 100%;
	position: relative;
}

.wishes__messages>div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	padding: 70px 30px 100px 95px;
}

.wishes__messages img {
  width: 100%;
  height: auto;
  min-height: 100%;
}

.wishes__messages:before {
	content: '';
	display: block;
	position: absolute;
	top: -50px;
	left: -70px;
	width: 119%;
	height: 115%;
	background-image: url('../images/template1/wishes-outline.png');
	background-size: cover;
	z-index: 2
}

.wishes__form {
	width: 80%;
	margin: 70px auto;
}

.wishes__form .form-group label {
	margin-bottom: 3px;
}

.wishes__form .form-group {
    position: relative;
    margin-bottom: 30px;
}

.wishes__form .form-group.field-messages-name {
    margin-bottom: 50px;
    position: relative;
}

.wishes__form input[type=text], 
.wishes__form input[type=password], 
.wishes__form input[type=email], 
.wishes__form select, 
.wishes__form textarea { 
	border: 2px solid #d893aa !important;
	border-radius: 0;
	background-color: unset;
    box-shadow: none;
}
.wishes__form input[type=text], 
.wishes__form input[type=password], 
.wishes__form input[type=email] {
	border: none!important;
    border-bottom: 2px solid #d893aa!important;
}
form input[type=text].error, 
form input[type=password].error, 
form input[type=email].error {
	border: none!important;
    border-bottom: 2px solid rgba(204,0,0,0.4)!important;
}
form select.error, 
form textarea.error {border: 2px solid rgba(204,0,0,0.4) !important;}
.wishes__form input[type=text]:focus, .wishes__form textarea:focus {
	box-shadow: none;
	opacity: 0.8;
}

.wishes__form-btn {
	text-align: right;
}
.wishes__form-btn input {
	border-radius: 0!important;
	background-color: #d893aa;
	color: #fff;
	padding: 6px 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.wishes__form-btn input:hover {
	color: #fff!important;
	opacity: 0.8;
}
.wishes__form-btn .btn:hover, .wishes__form-btn .btn:focus, .wishes__form-btn .btn:active:focus {
    color: #fff;
    text-decoration: none;
    outline: unset;
    outline-offset: unset;
}

.wishes__form textarea {
	resize: vertical;
}

.err_msg {
  display: block;
  text-align: left;
  font-size: 11px;
  font-weight: 300;
  color: rgba(204,0,0,0.4);
  position: absolute;
  bottom: -17px;
  z-index: 99;
}

.footer {
	padding: 10px 0;
	/*background-color: #02786A;*/
}

.footer__title {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	margin-bottom: 0;
}










@media only screen and (max-width: 1200px) {
	.wishes__messages:before {
		width: 121%;
	}
	section {
	    padding: 40px 0;
	}
	.wishes {
	    padding-bottom: 70px;
	}
	.speech .container:before {
	    top: -116px;
	    right: -80px;
	    width: 215px;
	}
	.section-title {
		font-size: 60px;
	}
}
@media only screen and (max-width: 992px) {
	#header {
		background-color: #ffd8b1;
		height: 100vh;
		background-image: url('../images/header-ukrashen.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 90% 90%;
	}
	.b1{order:0;}
	.b2{order:3;}
	.b3{order:1;}
	.b4{order:4;}
	.b5{order:2;}
	#header .top-box__date {
		font-size: 24px;
		right: -35px;
	}
	.countdown-time {
		font-size: 21px;
	}
	#header .top-box__title {
		font-size: 51px;
		line-height: 1;
	    top: calc(50% - 80px);
	}
	.speech__text {
		padding: 0;
		font-size: 28px;
	}
	.speech .container:after {
		top: 8%;
		right: -75px;
	}
	.speech__owners {
		font-size: 28px;
	}
	section {
	    padding: 25px 0;
	}
	.section-title {
	    font-size: 51px;
	}
	.address__place {
		font-size: 32px;
	}
	.address__place>span {
		font-size: 26px;
	}
	.wishes__messages:before {
	    width: 134%;
	    height: 120%;
	}
	.wishes__messages>div {
	    padding: 35px 0px 50px 59px;
	}
	.content-list__item .post-info__title {
	    font-size: 17px;
	    line-height: 1.2;
	}
	.content-list__item .post-info__text {
	    font-size: 13px;
	    line-height: 1.2;
	}
	.post-info__meta {
		font-size: 10px;
	}
	.content-list__item .post-info__meta-item {
	    font-size: 10px;
	}
	.speech .container:before {
	    top: -80px;
	    right: -80px;
	    width: 170px;
	}
}
@media only screen and (max-width: 768px) {
	#header .top-box__title {
		font-size: 48px;
		line-height: 0.9;
		top: calc(50% - 110px);
	}
	#header .top-box__row {
		bottom: 27%;
	}
	#header .top-box__time {
		display: block;
	    left: 0;
	    margin-bottom: 25px;
	}
	#header .top-box__date {
		display: block;
    	right: 0;
	}
	.speech__text {
		margin: 40px 0 30px 0;
	}
	.speech__owners {
		position: relative;
	    bottom: unset;
	    left: 0;
	}
	.speech .container:before {
		top: -95px;
	    right: -95px;
	    width: 200px;
	    opacity: 0.3;
	}
	.address__title {
	    margin-top: 25px;
	}
	.address__place {
		margin-bottom: 25px;
		font-size: 30px;
	}
	.wishes__messages:before {
	    width: 124%;
	    height: 113%;
	}
	.wishes__form {
	    width: 80%;
	    margin: 50px auto;
	}
	.wishes__form .form-group.field-messages-name {
		margin-bottom: 30px;
	}
	.wishes__form-btn input {
		width: 100%;
	}
	.wishes {
	    padding-bottom: 20px;
	}
	.wishes__messages>div {
	    padding: 11% 35px 90px 18%;
	}
	.speech__text {
		min-height: unset;
	    font-size: 26px;
	    line-height: 1.3;
	}
	.section-title {
		font-size: 42px;
	}
	.speech .container:before {
	    top: -95px;
	    right: 0px;
	    width: 90px;
	    opacity: 0.2;
	    height: 260px;
	    background-size: cover;
	}
	.speech .container:after {
		top: 20%;
	    right: 0%;
	    width: 90%;
    	height: 66%;
	}
	#header .top-box::before {
		display: none;
	}
	#header .top-box::after {
		content: '';
    	display: block;
	    background-image: url(../images/template1/header-ukrashen1.png);
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: 100% 70%;
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0px;
	    left: 0;
	}
	#header .top-box__title {
	    font-size: 42px;
	    line-height: 0.9;
	    top: calc(50% - 55px);
	    max-width: 70%;
	    text-align: center;
	    margin: 10px auto;
	}
	.content-list__item .post-info__text {
		font-size: 12px;
	    line-height: 1.3;
	    margin: 3px 0;
	}
}